<h2>Le Wagon batch #1019 - 2022</h2>
<p>Compétences techniques : Ruby, Ruby on Rails, PostgreSQL, ES6, HTML/CSS/Bootstrap,
Stimulus JS, wireframing avec Figma et service tier tel que Heroku, Cloudinary etc...
Compétences mises en application au travers de projets (un clone de AirBnB et un projet
de groupe original).</p>
<h2><b>→ Obtention de la certification concepteur - développeur d’application web (RNCP 6)</b></h2>
