<div class="container container-title">
  <div class="info-title">
    <h3>Bonjour et bienvenu sur mon site !<br><span data-controller="type"></span></h3>
    <p>Développeur web full stack, avec une préférence pour le back-end. Je suis curieux de nature
    et en soif constant d'apprentissage et de découverte. Je souhaite canaliser cette énergie dans
    un projet d'envergure.</p>
  </div>
</div>
