.navbar-lewagon {
  height: 60px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: $pfdarker;
  color: $pflighter;
  &:hover {
    color: $pfdarker;
    background-color: $pflighter;
  }
}

.active-link {
  color: $pfdarker;
  background-color: $pflighter;
}
